<div class="row form-group">
    <div class="col-sm-4">
        State :
    </div>
    <div class="col-sm-4">
        <app-my-drop-down
        [dataList]="stateList"
        [name]="'state'"
        [selectedItem]="selectedState"
        (getSelectedItem)="getState($event)"
        >
        </app-my-drop-down>
    </div>
    <div class="col-sm-4">
        Selected State: {{selectedState.desc}}
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        City :
    </div>
    <div class="col-sm-4">
        <app-my-drop-down
        [dataList]="cityList"
        [name]="'city'"
        [selectedItem]="selectedCity"
        (getSelectedItem)="getCity($event)"
        >
        </app-my-drop-down>
    </div>
    <div class="col-sm-4">
        Selected City: {{selectedCity.desc}}
    </div>
</div>
<div class="row form-group">
    <div class="col">
        <button class="bbtn btn-info">Save</button>
    </div>
</div>

