<div class="card">
    <div class="card-header bg-dark text-info">
        Education Info
    </div>
    <div class="card-body"> 
        <table class="table table-bordere table-striped">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Degree</th>
                    <th>Per</th>
                    <th>University</th>
                </tr>                
            </thead>
            <tbody>
                <tr *ngFor="let education of educationList">
                    <td>{{education.year}}</td>
                    <td>{{education.degree}}</td>
                    <td>{{education.per}}</td>
                    <td>{{education.uni}}</td>
                </tr>               
            </tbody>
        </table>
    </div>
</div>