<app-my-grid
    [dataList]="empList"
    [headerList]="headerList"
    [columnList]="columnList"
>    
</app-my-grid>
<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp #</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Dept</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList"> 
            <td>{{emp.empId}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.dept}}</td>
        </tr>
    </tbody>
</table> -->