<div class="card">
    <div class="card-header bg-info">
        Personal Info
    </div>
    <div class="card-body">
        <table class="table table-bordered bg-dark text-info">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{city}}</td>
                </tr>
                <tr>
                    <th>Mobile No</th>
                    <td>{{mobileNo}}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{age}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>