<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-message
      [message-type]="'success'"
      >
      </app-message>
    </div>
    <div class="col">
      <app-message
        [message]="'Good Afternoon...!'"
        [message-type]="'danger'"
      >        
      </app-message>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngFor="let message of messageList">
        <app-message
          [message]="message"
          [message-type]="'danger'"
        >          
        </app-message>        
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      Enter Name:
    </div>
    <div class="col-sm-4">
      <input type="text" name=str #str class="form-control" />
    </div>
    <div class="col-sm-4">
      <button class="btn btn-info" (click)="search(str.value)">Search</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <app-personal-info
        [name]="person.name"
        [city]="person.city"
        [mobileNo]="person.mobileNo"
        [age]="person.age"
        [email]="person.email"
        [gender]="person.gender"
      >        
      </app-personal-info>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-emp-list></app-emp-list>
    </div>
  </div>
</div>